<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual de Usuario - API</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <h1>Manual de Usuario - API</h1>
    
    <div class="endpoint" onclick="toggleEndpoint(this)">
        <h2>Endpoint 1: Get Users</h2>
        <div class="endpoint-content">
            <p>
                <strong>Endpoint:</strong> <code>/user/all</code><br>
                <strong>Método:</strong> GET<br>
                <strong>Descripción:</strong> Llama a todos los usuarios de la base de datos.<br>
                <strong>Ejemplo:</strong>
                <pre>
                    User{
                        UserID = int;
                        Name = String;
                        Lastnames = String;
                        Email = String;
                        Username = String;
                        Password = String;
                    }

                    int idUsuarioSesion, String token
                </pre>
            </p>
        </div>
    </div>

    <div class="endpoint" onclick="toggleEndpoint(this)">
        <h2>Endpoint 2: User ID</h2>
        <div class="endpoint-content">
            <p>
                <strong>Endpoint:</strong> <code>/user/byid</code><br>
                <strong>Método:</strong> GET<br>
                <strong>Descripción:</strong> Llama a un usuario existente por ID de la base de datos.<br>
                <strong>Ejemplo:</strong>
                <pre> 
                    key: id     
                    int id, String token, int idUsuarioSesion                  
                </pre>
            </p>
        </div>
    </div>
    <div class="endpoint" onclick="toggleEndpoint(this)">
        <h2>Endpoint 3: Insertar Usuario</h2>
        <div class="endpoint-content">
            <p>
                <strong>Endpoint:</strong> <code>/user</code><br>
                <strong>Método:</strong> POST<br>
                <strong>Descripción:</strong> Inserta Usuarios a la base de datos.<br>
                <strong>Ejemplo:</strong>
                <pre>
                    {
                        name: 'Jose',
                        lastnames: 'Madrigal',
                        email: 'jose.m@example.com',
                        username: 'joma',
                        password: 'password123'
                    }
                                   
                </pre>
            </p>
        </div>
    </div>
    <div class="endpoint" onclick="toggleEndpoint(this)">
        <h2>Endpoint 4: Eliminar Usuario</h2>
        <div class="endpoint-content">
            <p>
                <strong>Endpoint:</strong> <code>/user</code><br>
                <strong>Método:</strong> DELETE<br>
                <strong>Descripción:</strong> Borra usuarios de la base de datos.<br>
                <strong>Ejemplo:</strong>
                <pre>
                    key: id
                    int id, int idUsuarioSesion, String token
                </pre>
            </p>
        </div>
    </div>
    <div class="endpoint" onclick="toggleEndpoint(this)">
        <h2>Endpoint 5: Crear Nota</h2>
        <div class="endpoint-content">
            <p>
                <strong>Endpoint:</strong> <code>/note</code><br>
                <strong>Método:</strong> GET<br>
                <strong>Descripción:</strong>Crea una nueva nota.<br>
                <strong>Ejemplo:</strong>
                <pre>
                    
                    String title, String content, int idUsuarioSesion, String token
                   
                </pre>
            </p>
        </div>
    </div>
    <div class="endpoint" onclick="toggleEndpoint(this)">
        <h2>Endpoint 6: Ver Notas Incompletas</h2>
        <div class="endpoint-content">
            <p>
                <strong>Endpoint:</strong> <code>/note/all</code><br>
                <strong>Método:</strong> GET<br>
                <strong>Descripción:</strong> Devuelve todas las notas incompletas por el ID del usuario.<br>
                <strong>Ejemplo:</strong>
                <pre>
                    int idUsuarioSesion, String token
                </pre>
            </p>
        </div>
    </div>
    <div class="endpoint" onclick="toggleEndpoint(this)">
        <h2>Endpoint 7: Actualizar nota por ID</h2>
        <div class="endpoint-content">
            <p>
                <strong>Endpoint:</strong> <code>/note/byid</code><br>
                <strong>Método:</strong> PUT<br>
                <strong>Descripción:</strong> Actualiza una nota existente por su ID<br>
                <strong>Ejemplo:</strong>
                <pre>
                    
                        id: 1,
                        title: 'Updated Title',
                        content: 'Updated content'
                    
                    int id, int idUsuarioSesion, String token
                </pre>
            </p>
        </div>
    </div>
    <div class="endpoint" onclick="toggleEndpoint(this)">
        <h2>Endpoint 8: Nota Completada</h2>
        <div class="endpoint-content">
            <p>
                <strong>Endpoint:</strong> <code>/note/complete</code><br>
                <strong>Método:</strong> PUT<br>
                <strong>Descripción:</strong> Cambia el estado de una nota a completada por ID.<br>
                <strong>Ejemplo:</strong>
                <pre>
                    int id, int idUsuarioSesion, String token

                    id: 3 //Si quieren marcarla como completa deben enviar la id de la nota a la api cuando 
                    marquen el check de completa
                </pre>
            </p>
        </div>
    </div>
    <div class="endpoint" onclick="toggleEndpoint(this)">
        <h2>Endpoint 9: Ver Notas Completadas</h2>
        <div class="endpoint-content">
            <p>
                <strong>Endpoint:</strong> <code>/note/complete</code><br>
                <strong>Método:</strong> GET<br>
                <strong>Descripción:</strong> Devuelve todas las notas Completadas.<br>
                <strong>Ejemplo:</strong>
                <pre>
                    key: id value: 3
                    int id, int idUsuarioSesion, String token
                </pre>
            </p>
        </div>
    </div>
    <div class="endpoint" onclick="toggleEndpoint(this)">
        <h2>Endpoint 10: Delete by ID</h2>
        <div class="endpoint-content">
            <p>
                <strong>Endpoint:</strong> <code>/note</code><br>
                <strong>Método:</strong> DELETE<br>
                <strong>Descripción:</strong> Elimina una nota por ID.<br>
                <strong>Ejemplo:</strong>
                <pre>
                    key: id, value: 3
                    int id, int idUsuarioSesion, String token
                </pre>
            </p>
        </div>
    </div>

    <div class="endpoint" onclick="toggleEndpoint(this)">
        <h2>Endpoint 11: Login</h2>
        <div class="endpoint-content">
            <p>
                <strong>Endpoint:</strong> <code>/user/login</code><br>
                <strong>Método:</strong> POST<br>
                <strong>Descripción:</strong> Llama a todos los usuarios de la base de datos.<br>
                <strong>Ejemplo:</strong>
                <pre>
                    String username, String password
                </pre>
            </p>
        </div>
    </div>
    

    <!-- Agregar información sobre otros endpoints -->

    <script>
        function toggleEndpoint(endpoint) {
            const content = endpoint.querySelector('.endpoint-content');
            content.style.maxHeight = content.style.maxHeight ? null : content.scrollHeight + "px";
        }
    </script>

</body>
</html>